@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-bRed rounded-full text-white font-semibold py-3 px-6 text-[13px] hover:bg-opacity-75 hover:shadow-lg hover:shadow-bRed duration-300;
}
.btn-inverse {
  @apply bg-white rounded-full text-bRed font-semibold py-3 px-6 text-[13px] hover:bg-vPRed hover:shadow-md hover:shadow-vPRed duration-300;
}

.container {
  @apply mx-auto w-[92%] max-w-[1200px] p-4;
}
.container-with-2-cols {
  @apply container grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-[8rem];
}

header nav {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@media (max-width: 55rem) {
  header.show-backdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.7)
    );
    z-index: -1;
  }
}
